<!DOCTYPE html>
<html lang="en">
  {% include 'recipes/partials/_head.html' %}
  <body>
    {% include 'recipes/partials/_header.html' %}
    <div class="search-container">
      <div class="container">
        <form class="search-form" action="">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search for a recipe"
            class="search-input"
          />
          <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
